
        body {
            background-color:rgb(134, 194, 243);
        }
        .login-container {
            max-width: 450px;
            margin: 100px auto;
        }
        .card {
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }
        .card-header {
            background-color: #356096;
            color: white;
            padding: 20px;
            border-radius: 10px 10px 0 0;
        }
        .btn-primary {
            background-color: #377E47;
            border-color: #377E47;
        }
        .btn-primary:hover {
            background-color:rgb(35, 94, 49);
            border-color: rgb(35, 94, 49);
        }